src/main/mule/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="update-covid-caseFlow" doc:id="93e1f3ff-ffe7-426d-8a38-3f35d71ebd2a" >
		<http:listener doc:name="Listener" doc:id="439e5dfd-7153-4fab-9928-cdadfaccaab9" config-ref="HTTP_Listener_config" path="v1/cases" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Logger" doc:id="393f8fbf-cc33-476a-9698-5cc7b15bf62f" message="#[payload.covidCase.source.@id]"/>
	</flow>
</mule>
