src/main/mule/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd">
	<flow name="update-covid-caseFlow" doc:id="93e1f3ff-ffe7-426d-8a38-3f35d71ebd2a" >
		<http:listener doc:name="Listener" doc:id="439e5dfd-7153-4fab-9928-cdadfaccaab9" config-ref="HTTP_Listener_config" path="v1/cases" allowedMethods="PUT">
			<http:error-response >
				<http:body ><![CDATA[#[output text/plain --- error.errorMessage.payload[0].description]]]></http:body>
			</http:error-response>
		</http:listener>
		<xml-module:validate-schema doc:name="Validate Covid Case XML Payload Schema" doc:id="69e32869-c0e4-48ac-a9a3-c4e576d84600" schemas="schemas/covid-case-xml-schema.xsd" />
		<logger level="INFO" doc:name="Logger" doc:id="393f8fbf-cc33-476a-9698-5cc7b15bf62f" message="#[payload.covidCase.source.@id]"/>
	</flow>
</mule>
